.spaceButtons{
  display: flex;
  justify-content: space-between;
}

/* ESTO ES PARA DARLE FONDO CELESTE A LA FILA SOBRE LA CUAL PASA EL MOUSE */
tr:hover {
background-color: skyblue;
}

.statusActive {
  background-color: rgb(92, 187, 224);
}

h1 {
  text-align: left ;
  color: rgba(63, 107, 201, 0.808);
  margin-bottom: 20px;
}

#dataTable {

  display: flex;
  justify-content: center;
}